##########################################################
Example enviornment variable configurations for the Letta
Docker container. Un-coment the sections you want to
configure with.
##########################################################


##########################################################
                OpenAI configuration
##########################################################
OPENAI_API_KEY=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

##########################################################
                Ollama configuration
##########################################################
# OLLAMA_BASE_URL="http://host.docker.internal:11434"

##########################################################
                vLLM configuration
##########################################################
# VLLM_API_BASE="http://host.docker.internal:8000"
